<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <br />
  <p>
    Splurty was built by <a target="_blank" href="http://github.com/JLing88">Jesse Ling</a>. A web developer on a mission to use his skills to leave the world in a better place than he found it.
  </p>

  <br />
  <p>
    He was taught to be a better human and write a little code at the Turing School of Software and Design. He also has an AAS in programming from Front Range Community College in Colorado.
  </p>

  <p>
      If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'jesse.png', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Jesse Ling</h2>
      <br />
      <p>
        Jesse Ling is a web developer for a real estate brokerage in Boulder, CO, where he lives with his lovely wife and two dogs.
      </p>
    </div>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />